<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">



	<context:annotation-config />
	<context:component-scan base-package="com.unbank" />
	<tx:annotation-driven />




	<!-- 失信人员百度页面采集定时任务 -->
	<!-- 定时检测内容 -->
	<bean id="startSpiderByBaidyDayQuartzJobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject" ref="startCrawlQuartzJobToBaidu">
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod" value="executeInternal">
		</property>
	</bean>
	<!-- 任务触发器 -->
	<bean id="startSpiderBybaiduDayQuartzTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="startSpiderByBaidyDayQuartzJobTask" />
		</property>
		<property name="cronExpression">
			<value>01 27 * * * ?</value>
		</property>
	</bean>

	<!-- 任务调度入口 -->
	<bean lazy-init="false"

		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="startSpiderBybaiduDayQuartzTrigger" />
			</list>
		</property>
	</bean>
</beans>